<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<!-- Targets that Will Receive the Logs -->
	<targets>
		
		<!-- Define a Output Log as a File-->
		<target name="file" type="File" fileName="processrunner.log" >
			
			<!-- Define a JSON Layout to Target -->
			<layout type="JsonLayout">
				<attributes>
					<!-- Add Attributes to the Log Line -->
					<attribute name="timestamp" layout="${longdate}" />
					<attribute name="logger" layout="${logger}" />
					<attribute name="level" layout="${level}" />
					<attribute name="message" layout="${message}" />
					<attribute name="exception" layout="${exception:format=Message}" />
				</attributes>
			</layout>
		</target>

		<!-- Add the Console as a Target -->
		<target name="console" type="Console" />
	</targets>

	<!-- Add Rules to the Targets -->
	<rules>
		<logger name="*" minLevel="Debug" writeTo="file" final="false" />
		<logger name="*" minLevel="Info" writeTo="console" />
	</rules>
	
</nlog>